@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;

}

body
{
    background-color: #25272E;
}

header
{
    background-color: #f2f5f7;
    padding: 20px;
}

header h1
{
    color: #292C34;
    text-align: center;
}


/*score-board*/

.score-board
{
    border: 3px solid white;
    margin: 20px auto;
    width: 200px;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge
{
    background-color: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label
{
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label
{
    position: absolute;
    top: 30px;
    right: -30px;

}

/*Result*/
.result
{
    color: white;
    font-size: 35px
}

.result p
{
    text-align: center;
    font-weight: bold;
}

/*choices*/
.choices
{
    text-align: center;
}

.choice
{
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    margin: 30px 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.choice:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.choice img
{
    width: 90px;
    padding: 10px
}

/*action message*/
#action-message
{
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.green-glow
{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a
}

.red-glow
{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow
{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}